* {
    box-sizing: border-box;



}

body {
    font-family:roboto;
    margin: 0;
    width: 900px;
    height: 1100px;
    display: flex;
    flex-direction: column;
    flex: 1;

}








.hero {
    display: flex;
    flex-direction:column;
padding: 0px 100px 70px;
    font-size: 18px;
    color: #E5E7EB;



}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

a { font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;


}


.hero, footer {
    background-color: #1f2937;
}

p{
    font-size: 24px;
    color: #F9FAF8;
}
.awesome {
    display: flex;
    flex-direction: row;
    flex-wrap:nowrap;
}


.herofoto {

width:  50%;
height: 80%;
align-self: flex-end;
}


.texted {
    display: flex;
    flex-direction: column;
    padding-right: 10px;
}


.signup {

    width: 100px;
    height: 27px;
}




.second {
    max-width: 900px;

    padding: 30px 125px 70px;
    align-items: center;
}
.fotos {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}



.foto1, .foto2, .foto3, .foto4 {
 height: 100%;
 width: 100%;

  object-fit: cover;

}

.underfoto {

    color: black;
    font-size: 16px;

}


h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 30px;
    align-self: center;


}