body {
    font-family:roboto;
  min-height: 100%;
}








.hero {
    display: flex;
    flex-direction:column;

    font-size: 18px;
    color: #E5E7EB;
    height: 30%;


}
.header {
    display: flex;
    justify-content: space-between;
    font-size: 18px;
    color: #E5E7EB;
}
.hero, footer {
    background-color: #1f2937;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
}


img {
float: right;
}

.awesome {
    display: flex;
    flex-direction: row;
}

.texted {
    display: flex;
    flex-direction: column;
}