* {
    
   
   box-sizing: border-box;
   font-family: "Roboto", sans-serif;
   margin: 0;
   padding: 0;

}
 




.awesome {
    display: flex;
    gap: 100px;
    padding: 80px 200px 70px;
    font-size: 18px;
    color: #E5E7EB;
    background-color: #1f2937;
}

.header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 200px;
    background-color: #1f2937;
}

a { font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
    display: inline-block;
    padding: 0 23px;
    transition: all 0.3s ease 0s;
}

a :hover{
    color:#104294;
}

footer {
    background-color: #1f2937;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-right: auto;
    cursor: pointer;
}

.holderforfoto {
    display: flex;
    justify-content: flex-end;
    padding: 20px 20px;
    }
 
    .herofoto {
    height: 200px;
    width: 400px;
    object-fit: cover;
}

.texted {
    display: flex;
    flex-direction: column;
    padding: 20px 20px 20px 0;
    justify-content: space-between;
}


.signup {
    background-color:#3882f6;
    width: 100px;
    height: 32px;
    border-radius: 8px;
    border: 1px black;
    cursor: pointer;
    color: #F9FAF8;
}




.second {
    padding: 38px 280px 70px;
    align-items: center;
}

.fotos {
    display:flex;
    flex-direction: row;
    justify-content:space-between ;
}



.foto {
max-width:20%;
 padding: 9px;
}

.underfoto {
    color: black;
    font-size: 16px;
}


h3 {
    font-size: 30px;
    font-weight: bold;
    margin: 0 0 40px;
    align-self:flex-end;
    justify-self: center;
}


.foto
img {
    border: 3px blue;
    border-radius: 12px; 
}